# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
.venv/

# Ignore any other files or directories you want to exclude
qna-backend/.gitignore
qna-frontend/.gitignore


credentials.db